---
layout: default
title: Kanban Boards
---

{% assign kanMaxChars = 200 %}
{% assign kanCategoryLabels = "OpenWIS-Core Release, OpenWIS-Core Maintenance, OpenWIS-Core PMC" | split: ', ' %}

<article>

	<header>
		<h1 class="post-title">{{ page.title }}</h1>
	</header>

{% for j in kanCategoryLabels %}

<div>
<hr>
	<h2>{{ j }}</h2>
		{% for kanCard in site.kanban %}
			  {% if kanCard.kanCategory == j %}

				    {% if kanCard.kanProject %}
						    {% if kanCard.kanRepo %}
								    <a href="https://github.com/{{ kanCard.kanProject | prepend: kanCard.kanRepo }}" target=_blank><em>{{ kanCard.title }}</em></a>
										{{ kanCard.content }}
						    {% endif %}
				    {% endif %}

				 {% endif %}
		{% endfor %}
<div class="clear">
</div>
</div>
{% endfor %}

</article>
