<header class="site-header">

  <div class="wrapper">

    <span class="site-title"><img src="http://openwis.io/cms/images/openwis.jpg" alt="OpenWIS®" style="max-height:40px; width:auto"/><a href="{{ site.baseurl }}/">{{ site.title }}</a></span>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl | append: "/" }}">Governance</a>
        <a class="page-link" href="{{ site.data.articles.subpath | prepend: site.baseurl }}">{{ site.data.articles.title }}</a>
        <a class="page-link" href="{{ site.data.rules.subpath | prepend: site.baseurl }}">{{ site.data.rules.title }}</a>
        <a class="page-link" href="{{ site.data.tr.subpath | prepend: site.baseurl }}">{{ site.data.tr.title }}</a>
        <a class="page-link" href="{{ site.data.conduct.subpath | prepend: site.baseurl }}">{{ site.data.conduct.title }}</a>
		    <a class="page-link" href="{{ site.data.metrics.subpath | prepend: site.baseurl }}">{{ site.data.metrics.title }}</a>
    		<a class="page-link" href="{{ site.data.backlog.subpath | prepend: site.baseurl }}">{{ site.data.backlog.title }}</a>
        <a class="page-link" href="{{ site.data.kanban.subpath | prepend: site.baseurl }}">{{ site.data.kanban.title }}</a>
		    <a class="page-link" href="{{ site.data.posts.subpath | prepend: site.baseurl }}">{{ site.data.posts.title }}</a>
        <a class="page-link" href="{{ site.data.about.subpath | prepend: site.baseurl }}">{{ site.data.about.title }}</a>
      </div>
    </nav>

  </div>

</header>
