<header class="site-header">

  <div class="wrapper">

    <div class="site-banner"><span class="site-title"><img src="{{ site.baseurl | append: "/assets/openwis.jpg"}}" alt="OpenWIS®" style="max-height:40px; width:auto"/><a href="{{ site.baseurl }}/">{{ site.title }}</a></span></div>


    <nav class="site-nav">
      <div class="trigger">
	 <a class="page-link" href="{{site.baseurl | append: "/" }}">Home</a>
         <div class="page-link">
            <ul class="dropdown"><label for="a1"><a href="{{ site.baseurl | append: "/about/"}}">Association</a></label><input id="a1" type="checkbox">
                  <li><a href="{{ site.data.structure.subpath | prepend: site.baseurl | append: "members.html"}}">Members</a></li>
	          <li><a href="{{ site.data.structure.subpath | prepend: site.baseurl | append: "governance.html"}}">Governance</a></li>
                  <li><a href="{{ site.data.articles.subpath | prepend: site.baseurl }}">{{ site.data.articles.title }}</a></li>
                  <li><a href="{{ site.data.rules.subpath | prepend: site.baseurl }}">{{ site.data.rules.title }}</a></li>
                  <li><a href="{{ site.data.conduct.subpath | prepend: site.baseurl }}">{{ site.data.conduct.title }}</a></li>
                  <li><a href="{{ site.data.tr.subpath | prepend: site.baseurl }}">{{ site.data.tr.title }}</a></li>
		  <li><a href="{{ site.data.rules2.subpath | prepend: site.baseurl }}">{{ site.data.rules2.title }}</a></li>
                  <li><a href="{{ site.data.minutes.subpath | prepend: site.baseurl }}">{{ site.data.minutes.title }}</a></li>
                  <li><a href="{{ site.data.metrics.subpath | prepend: site.baseurl }}">{{ site.data.metrics.title }}</a></li>
                  <li><a href="{{ site.data.quality.subpath | prepend: site.baseurl }}">{{ site.data.quality.title }}</a></li>
                  <li><a href="{{ site.data.privacy.subpath | prepend: site.baseurl | append: "privacy.html" }}">Privacy Policy</a></li>
            </ul>
         </div>
         <div class="page-link">
            <ul class="dropdown"><label for="p1"><a href="{{ site.data.projects.subpath | prepend: site.baseurl }}">Projects</a></label><input id="p1" type="checkbox">
               <li><ul class="dropdown"><label for="p21"><a href="{{ site.data.openwis.subpath | prepend: site.baseurl }}">OpenWIS-Core</a></label><input id="p21" type="checkbox" checked>
<!--		     <li><a href="{{ site.data.backlog.subpath | prepend: site.baseurl }}">{{ site.data.backlog.title }}</a></li>
-->
             <li><a href="https://github.com/OpenWIS/openwis/issues">{{ site.data.backlog.title }}</a></li>
                     <li><a href="{{ site.data.kanban.subpath | prepend: site.baseurl }}">{{ site.data.kanban.title }}</a></li>
		     <li><a href="https://openwis.github.io/openwis" target="_blank">Github Development*</a></li>
                     <li><a href="https://github.com/OpenWIS/openwis" target="_blank">Github Repository*</a><li>
                     <li><a href="https://github.com/OpenWIS/openwis/wiki" target="_blank">Wiki*</a></li>
                     <li><a href="{{ site.data.openwis.subpath | prepend: site.baseurl | append: "#download"}}">Download</a></li>
               </ul></li>
               <li><ul class="dropdown"><label for="p22"><a href="{{ site.data.excel2wis.subpath | prepend: site.baseurl }}">Excel2wis Tool</a></label><input id="p22" type="checkbox" checked>
	          <li><a href="https://github.com/OpenWIS/excel2wis" target="_blank">Excel2wis github repository</a></li>
	       </ul></li>
               <li><ul class="dropdown"><label for="p23"><a href="{{ site.data.wis2prototypes.subpath | prepend: site.baseurl }}">WIS2-Prototypes</a></label><input id="p23" type="checkbox" checked>
                  <li><a href="{{ site.data.wis2prototypes.subpath | prepend: site.baseurl | append: "index.html"}}">WIS2 Prototypes</a></li>
               </ul></li>
            </ul>
         </div>
         <div class="page-link">
            <ul class="dropdown"><label for="rm"><a href="{{ site.data.release-management.subpath | prepend: site.baseurl | append: "release-management.html" }}">Release Management</a></label><input id="rm1" type="checkbox">
                <li><a href="{{ site.data.release-management.subpath | prepend: site.baseurl | append: "release-management.html"}}">Release Management Process</a></li>
            </ul>
         </div>
         <a class="page-link" href="mailto: {{ site.email }}">Contact</a>
         <div class="page-link">
            <ul class="dropdown"><label for="i1">Get Involved</label><input id="i1" type="checkbox">
                <li><a href="{{ site.data.structure.subpath | prepend: site.baseurl | append: "steering-committee.html"}}">Steering Committee</a></li>
                <li><a href="{{ site.data.structure.subpath | prepend: site.baseurl | append: "technical-committee.html"}}">Technical Committee</a></li>
                <li class="no-link">Developers</li>
		<li><a href="{{ site.data.howto.subpath | prepend: site.baseurl }}">How-to Instructions</a></li>
                <li><a href="{{ site.data.posts.subpath | prepend: site.baseurl }}">Github Posts Archive</a></li>
		<li><a href="https://forum.openwis.io/" target="_blank">Forum*</a></li>
            </ul>
         </div>

      </div>
    </nav>

  </div>

</header>
