/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
    margin-top: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists - modified by Cassie Stearns
 */
ul, ol {
    margin-left: $spacing-unit;
    & h3 {
     margin-bottom: 0; 
     }
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: $visited-link-color; //color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Tables
 */
table { border-collapse: collapse }
table, td, th { border: 1px solid #e8e8e8 }
td, th { text-align: left ; padding: 10px }

/**
 * task-in-progress / task-pending color - additional styles defined by Paul Rogers to highlight Kanban tasks in progress - edited by Cassie Stearns for visibility
 */
.kanTask-in-progress-style { color:Red; }

.kanTask-pending-style { color:Black; }

.kanTask-board-title { color:#265681; }


/**
 * Action - additional style defined by Paul Rogers to highlight meeting actions - edited by Cassie Stearns for visibility
 */
.action {font-style: oblique;
		 line-height: 3em; padding: 0.5em;
		 border-left-width: 0.2em; border-left-style: solid; border-left-color: SteelBlue;
		 color:#265681; background-color: LemonChiffon;}


/**
 * Resolution - additional style defined by Paul Rogers to highlight meeting resolutions
 */
.resolution {font-style: oblique;
		 line-height: 3em; padding: 0.5em;
		 border-left-width: 0.2em; border-left-style: solid; border-left-color: SteelBlue;
		 color:Red; background-color: LemonChiffon;}

/**
 * Task - additional style defined by Paul Rogers to style Kanban Tasks
 */
.kanTask {font-style: normal;
		 line-height: 1em; padding: 0.5em; font-size: 90%; word-spacing: 1em;
		 border-left-width: 0.2em; border-left-style: solid; border-left-color: SteelBlue;
		 color:DimGrey; background-color: LemonChiffon;
    }

/**
 * Task Description - additional style defined by Paul Rogers to style Kanban Tasks
 */
.kanTaskDesc {font-style: normal;
    padding: 0.5em; font-size: 80%;
    border-left-width: 0.2em; border-left-style: solid; border-left-color: SteelBlue;
    color:Black; background-color: LemonChiffon;
    }

/**
 * Warning msg - additional style defined by Paul Rogers to flag issues found in the markdown input etc
 */
.kanWarning {color: red;
    font-family: courier;
    font-size: 110%;
    }




/**
 * Card - additional style defined by Paul Rogers to style Kanban Cards
 */
.kanCard {float: left; padding: 0.5em; width: 32%
    }

/**
 * Card - additional style defined by Paul Rogers to style Kanban Cards
 */
.kanSubCategory {color:Red;
    }

/**
 * Clear - to stop the section after the Kanban Cards from floating (Paul Rogers)
 */
.clear {clear: left;
    }

/**
  * gh-pages-editor-link - additional style defined by Paul Rogers to style the gh-pages-editor-link
  */
.gh-pages-editor-link {font-style: normal;
        padding: 0.5em; font-size: 80%;
        border-width: 0.2em; border-style: solid; border-color: SteelBlue;
        background-color: Silver;
        border-radius: 5px;
        color: #111;
        }


