---
layout: default
title: Backlog
---

{% assign kanMaxChars = 500 %}
{% assign kanWarning = false %}

<article>
	<header>
		<h1 class="post-title">{{ page.title }}</h1>
	</header>

<div>

{% for i in (6..10) %}

	{% case i %}
  	{% when 6 %}
     	{% assign kanPriorityLabel = " very high" %}
		{% when 7 %}
    	{% assign kanPriorityLabel = " high" %}
		{% when 8 %}
	    {% assign kanPriorityLabel = " medium" %}
		{% when 9 %}
			{% assign kanPriorityLabel = " low" %}
		{% when 10 %}
			{% assign kanPriorityLabel = " very low" %}
	{% endcase %}

	<hr>
	<h2>priority {{i}}{{ kanPriorityLabel }}</h2>
		{% for kanCard in site.backlog %}
			{%if i == 10 %}
				{% if kanCard.kanPriority > 10 or kanCard.kanPriority < 6 or kanCard.kanPriority == null %}
					{% if kanCard.kanBacklog != null %}
						{% capture kanNullPrtyWarning %}{{ kanNullPrtyWarning | append: kanCard.kanBacklog | append: '. ' }}{% endcapture %}
						{% assign kanWarning = true %}
					{% endif %}
				{% endif %}
			{% endif %}


				{% if kanCard.kanPriority == i %}
					<details class="kanCard">
						<summary><strong>{{ kanCard.kanBacklog | append: '. ' | append: kanCard.title }}</strong></summary>
						<div class="kanTask">
		  				<p>
								 {% if kanCard.kanPullReq %} pull-req#{{ kanCard.kanPullReq }}{% endif %}
								 {% if kanCard.kanIssue %} issue#{{ kanCard.kanIssue }}{% endif %}
								 {% if kanCard.kanSize %} size:{{ kanCard.kanSize }}{% endif %}
								 {% if kanCard.kanMetric %} metric:{{ kanCard.kanMetric }}{% endif %}
								 {% if kanCard.kanRelease %} release:{{ kanCard.kanRelease }}{% endif %}
								 {% if kanCard.kanAssigned %} assigned:{{ kanCard.kanAssigned }}{% endif %}
								 {% if kanCard.kanSubCategory %}<span class="kanSubCategory">{{ kanCard.kanSubCategory | upcase }}</span>{% endif %}
								 {% if kanCard.kanCategory != "backlog" %}{{ kanCard.kanCategory }}{% endif %}
							 </p>
						</div>
						<div class="kanTaskDesc">
								 {% if kanCard.content.size > kanMaxChars %}
								   {{ kanCard.content | truncate: kanMaxChars }}<a href="{{ kanCard.url | prepend: site.baseurl }}" target=_blank><br><br><em>more</em></a>
								 {% else %}
								 		{{ kanCard.content }}<a href="{{ kanCard.url | prepend: site.baseurl }}" target=_blank><em>show</em></a>
								 {% endif %}
						</div>
					</details>
				{% endif %}
		{% endfor %}
		<div class="clear">
		</div>
{% endfor %}
	<hr>
	{% if kanWarning %}
		<p class="kanWarning">Oops! The following Backlog Items have no Priority or have a Priority value outside the range allowed (6 to 10):<br>
				{{ kanNullPrtyWarning }}<br>
				  Until this is corrected they will not appear in the Backlog.
		</p>
	{% endif %}
</div>

</article>
