---
layout: default
title: OpenWIS-Core Strategic Goals and Metrics
permalink: /project-metrics/
---

<article>
	<header>
		<h1 class="post-title">{{ page.title }}</h1>
	</header>

<div>
	<hr>
	The following 3-year strategy was agreed at the Annual Meeting in March 2016; therefore, the objective is to achieve these goals by March 2019.

	{% for m in site.metrics %}
		{% unless forloop.last %}
		    {% if m.metricOwner == "OpenWIS-Core" %}
				    <p>{{ m.content }}</p>
				{% endif %}
		{% endunless %}
	{% endfor %}

</div>

</article>
